---
import ProjectBox from './ProjectBox.astro';
import { getVariantByIndex } from '../services/getVariantByIndex';
import { TILE_COLOURS } from '../services/constants';
import { getProjectCollection } from '../services/getProjectCollection';

const projectsWithExamples = await getProjectCollection();

const projects = projectsWithExamples.filter((project) => !project.data.hidden);
---

<div class="flex flex-col gap-y-10">
  {
    projects.map((project, index) => (
      <ProjectBox
        href={`projects/${project.id}`}
        title={project.data.title}
        description={project.data.description}
        tags={project.data.tags}
        tagColour={getVariantByIndex(TILE_COLOURS, index)}
        projectNumber={index + 1}
        image={project.data.image}
      />
    ))
  }
</div>
