---
import Tag, { type TagColour } from './Tag.astro';
import Text from './Text.astro';

export type Props = {
  title: string;
  description: string;
  tags?: string[];
  tagColour: TagColour;
  projectNumber: number;
  href: string;
};

const { title, tagColour, description, projectNumber, href, tags } =
  Astro.props;
---

<a
  data-project-tile
  class="flex w-full gap-x-[68px] border-2 px-[68px] py-4"
  href={href}
>
  <div class="flex items-center">
    <Text type="h2">
      <span class="align-middle"> {projectNumber}. </span>
    </Text>
  </div>

  <div class="flex flex-col">
    <Text type="sh1">{title}</Text>

    <div class="flex gap-x-8 pt-2">
      {tags?.map((tag) => <Tag colour={tagColour}>{tag}</Tag>)}
    </div>
    <div class="pt-6">
      <Text type="body">
        {description}
      </Text>
    </div>
  </div>
</a>

<script>
  const buttons = document.querySelectorAll('[data-project-tile]');

  const tooltips = document.querySelectorAll('[data-hover-image]');

  const tooltip = tooltips[0];

  // Add event listeners to fire confetti when a button is clicked.
  buttons.forEach((button) => {
    button.addEventListener('mouseenter', () => {
      console.log('hovered');

      if (!tooltip) {
        console.log('No tooltip found');
        return;
      }

      const rect = button.getBoundingClientRect();

      const scrollX = rect.left + window.scrollX;
      const scrollY = rect.top + window.scrollY;

      console.log('scrollX:', scrollX, 'scrollY:', scrollY);

      tooltip.setAttribute(
        'style',
        `top: ${scrollY}px; right: ${scrollX}px; visibility: visible;`,
      );
    });

    button.addEventListener('mouseleave', () => {
      tooltip.setAttribute('style', `visibility: hidden;`);
    });
  });
</script>
