---
import { render } from 'astro:content';
import { Picture } from 'astro:assets';

import Grid from '../../components/Grid.astro';
import Layout from '../../layouts/Layout.astro';
import Text from '../../components/Text.astro';
import Tag from '../../components/Tag.astro';
import { getVariantByIndex } from '../../services/getVariantByIndex';
import { TILE_COLOURS } from '../../services/constants';
import { getProjectCollection } from '../../services/getProjectCollection';
import ProjectOverview from '../../components/ProjectOverview/ProjectOverview.astro';

export async function getStaticPaths() {
  const projects = await getProjectCollection();

  return projects.map((project, index) => ({
    params: { path: project.id },
    props: { project, projectNumber: index },
  }));
}

const { project, projectNumber } = Astro.props;

const { Content } = await render(project);

const { title, description, tags, overview, image } = project.data;
---

<Layout>
  <Grid>
    <div>
      <Text type="h1" transition:name={`project-title-${title}`}>{title}</Text>
      <Text type="h4">{description}</Text>
      <div class="flex gap-x-8 pt-2">
        {
          tags?.map((tag) => (
            <Tag colour={getVariantByIndex(TILE_COLOURS, projectNumber)}>
              {tag}
            </Tag>
          ))
        }
      </div>

      {image && <Picture src={image} alt={title} class="py-12" />}

      {overview && <ProjectOverview overview={overview} />}

      <div class="prose flex flex-col py-20">
        <Content />
      </div>
    </div>
  </Grid>
</Layout>
